.container{
    padding-left: 4rem;
    padding-top: 3rem;
}
.container__text{
    font-weight:500;
}
.section__tab{
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.3rem;
    border-radius: 15px;
}
.section__tab ul{
    border: 1px solid #D9D9D9;
    padding: 1rem 2rem;
    
}
.section__tab ul:hover{
    cursor: pointer;
}
.section__tab .active{
    background: #2196F3;
border: 1px solid #2196F3;
color:
 white;
}


.section__tab__content{
    margin-top: 2.5rem;
}
.section__tab__content__item{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.section__tab__content__line-indicator{
    display: flex;
    width: 90%;
    margin-top: 2rem;
}
.section__tab__content__line-indicator__status{
    border: 5px solid #FFCC00;
    width:38%;
    margin-left: 1px;
}
.section__tab__content__line-indicator__status:nth-child(2){
    border: 5px solid #5856D5;
    width: 24%;
    margin-left: 1px;

}
.section__tab__content__line-indicator__status:nth-child(3){
    border: 5px solid #2196F3;
    width: 24%;
    margin-left: 1px;

}
.section__tab__content__line-indicator__status:nth-child(4){
    border: 5px solid #A0B0B9;
    width: 10%;
    margin-left: 1px;
}
.section__tab__content__error-type__status{
    margin-top: 1.3rem;
    margin-right: .6rem;
    color: #4A4A4A;

}
.section__tab__content__error-type__status:nth-child(1){
    border: 5px solid red;
}
.section__tab__content__error-type__status:nth-child(2){
    border: 5px solid #5856D5 !important;
}
.section__tab__content__error-type__status:nth-child(3){
    border: 5px solid #2196F3;
}
.section__tab__content__error-type__status:nth-child(4){
    border: 5px solid #A0B0B9;
}
.section__tab__content__error-type{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}
.section__tab__content__error-type__item{
    display: flex;
    height: 2px;
    padding: 0 .5rem;
    
}
.search-section__detail{
    margin-left: 2rem;
}
.search-section__icon{
    position: relative;
    background: #2196F3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 1.9rem;
}
svg{
margin-top: 1.2rem;
}.search-section__icon__indicator{
    background: #8BC34A;
    border: 2px solid white;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0px;

}
.search-section__card{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.search-section__icon__rate{
    border-radius: 10px;
    color: white;
    background: #8BC34A;
    font-size: .6rem;
    padding: .3rem .6rem;
}
.search-section__card__flex{
    display: flex;

}
.flex{
    display: flex;
    margin-top: -1rem;
}
.search-section__title_p{
    font-size: 1.4rem;
    font-weight: 400;
}
.search-section__title h3{
    font-weight: 400;
}
.search-section__value{
    font-weight: 400;
    color: #A0B0B9;
}
.flex p{
    padding-top: .6rem;
    margin-left: 1rem;
    font-size: .8rem;
}
.search-section__traffic{
    margin-top: .6rem;
}